<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jpablo.dislexia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PadresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuestionarioRapidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MensajeRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MensajeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="dislexic"
            android:resource="@array/dislexic" />

        <activity android:name=".HijoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResultadoRapidoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".JuegoSilabasActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SilabasInstruccionesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResultadoSilabasActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".JuegoSonidosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResultadoSonidoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SonidosInstruccionesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".JuegoPalabras"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResultadoPalabrasActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PalabrasInstruccionesActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>