<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jpablo.dislexia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PadresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuestionarioRapidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MensajeRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MensajeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="dislexic"
            android:resource="@array/dislexic" />

        <activity android:name=".HijoActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ResultadoRapidoActivity" />
        <activity android:name=".JuegoSilabasActivity" />
        <activity android:name=".SilabasInstruccionesActivity" />
        <activity android:name=".ResultadoSilabasActivity" />
        <activity android:name=".JuegoSonidosActivity" />
        <activity android:name=".ResultadoSonidoActivity" />
        <activity android:name=".SonidosInstruccionesActivity" />
        <activity android:name=".JuegoPalabras" />
        <activity android:name=".ResultadoPalabrasActivity" />
        <activity android:name=".PalabrasInstruccionesActivity"></activity>
    </application>

</manifest>